<app-toolbar [backButton]="true"></app-toolbar>

<ion-content>
  <div class="products_container">
    <div class="sucursales-header">
      <h2 class="sub-title">Galería</h2>

      <div class="separator-line"></div>

      <div style="max-width: 1240px; margin-bottom: 2rem;">
        <div style="width: 100%; text-align: center;">
          <ion-text style="font-weight: 400; font-size: 1.25rem; line-height: 32px; letter-spacing: -0.5;">
            En Loga, nos enorgullece mostrar el resultado de nuestro trabajo. Explora nuestra galería y descubre cómo nuestras soluciones en aluminio y vidrio han transformado hogares, negocios y espacios comerciales. Inspírate con nuestros proyectos y visualiza cómo podemos ayudarte a crear espacios únicos.</ion-text>
        </div>
      </div>
    </div>

    <div class="photo-gallery">
      <div class="column removeToDesktop">
        @for (img of imgListMobile1; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>
      
      <div class="column removeToDesktop">
        @for (img of imgListMobile2; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>

      <div class="column removeToMobile">
        @for (img of imgList1; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>
  
      <div class="column removeToMobile">
        @for (img of imgList2; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>
  
      <div class="column removeToMobile">
        @for (img of imgList3; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>
  
      <div class="column removeToMobile">
        @for (img of imgList4; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="https://wa.me/528111875544" target="_blank">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
