<ion-header>
  <ion-toolbar class="main-ion-toolbar white-toolbar" id="toolbar">
    <div 
      style="width: fit-content;
        margin: 0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;"
    >
      <ion-icon *ngIf="backButton" style="margin-right: .5rem; font-size: 1.8rem;" name="arrow-back" (click)="navigateTo('home')"></ion-icon>
      <ion-img src="../../assets/icon/logo.png" (click)="onLogoClick()" style="width: 90px; cursor: pointer;"></ion-img>
    </div>

    <!-- Botones visibles en pantallas grandes -->
    <ion-buttons slot="end" class="desktop-menu">
      <ion-button
        class="tab"
        [style.color]="activeSection === 'home-section' ? '#144DFD' : '#000'" 
        (click)="onButtonClick('home-section')"> Inicio </ion-button>
      <ion-button class="tab"
      [style.color]="activeSection === 'about_us' ? '#144DFD' : '#000'"
       (click)="onButtonClick('about_us')"> Sobre nosotros </ion-button>
      <ion-button class="tab"
        [style.color]="activeSection === 'services-section' ? '#144DFD' : '#000'"
        (click)="onButtonClick('services-section')"> Servicios </ion-button>
      <ion-button class="tab"
        [style.color]="activeSection === 'sucursales-section' ? '#144DFD' : '#000'"
        (click)="onButtonClick('sucursales-section')"> Sucursales </ion-button>
      <ion-button class="tab"
        [style.color]="activeSection === 'footer-section' ? '#144DFD' : '#000'"
        (click)="onButtonClick('footer-section')"> Contacto </ion-button>
    </ion-buttons>

    <!-- Icono de menú hamburguesa visible en pantallas pequeñas -->
    <ion-buttons slot="end" class="mobile-menu-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>