<ion-header>
  <ion-toolbar class="main-ion-toolbar white-toolbar" id="toolbar">
    <div 
      style="width: fit-content;
        margin: 0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;"
    >
      <ion-icon *ngIf="backButton" style="margin-right: .5rem; font-size: 1.8rem;" name="arrow-back" (click)="navigateTo('home')"></ion-icon>
      <ion-img src="../../assets/icon/logoToolbar.png" (click)="onLogoClick()" style="width: 76px; height: 60px; cursor: pointer;"></ion-img>
    </div>

    <!-- Botones visibles en pantallas grandes -->
    <ion-buttons slot="end" class="desktop-menu">
      <!-- [style.color]="activeSection === 'home-section' ? '#4185AA' : '#FFF'"  -->
      <ion-button
        class="tab"
        (click)="onButtonClick('home-section')"> Sobre nosotros </ion-button>
      <ion-button class="tab"
       (click)="onButtonClick('about_us')"> Servicios </ion-button>
      <ion-button class="tab"
        (click)="onButtonClick('services-section')"> Encuentra tu sucursal </ion-button>
      <ion-button class="tab" 
        (click)="onButtonClick('sucursales-section')"> Preguntas frecuentes </ion-button>
      <ion-button class="tab"
        (click)="onButtonClick('footer-section')"> Contacto </ion-button>
    </ion-buttons>

    <!-- Icono de menú hamburguesa visible en pantallas pequeñas -->
    <ion-buttons slot="end" class="mobile-menu-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
