<ion-header>
  <ion-toolbar class="transparent-toolbar" id="toolbar">
    <div style="width: fit-content; margin: 1rem 0;">
      <ion-title class="rubik-main-title" style="cursor: pointer;">
        Aluminios Loga
      </ion-title>
    </div>

    <!-- Botones visibles en pantallas grandes -->
    <ion-buttons slot="end" class="desktop-menu">
      <ion-button class="tab"> Inicio </ion-button>
      <ion-button class="tab"> Productos </ion-button>
      <ion-button class="tab"> Contacto </ion-button>
      <ion-icon
        style="--color: white;"
        [(ngModel)]="paletteToggle"
        (click)="toggleChange(iconThemeMode === 'sunny-outline' ? 'moon-outline' : 'sunny-outline')"
        [name]="iconThemeMode"></ion-icon>
    </ion-buttons>

    <!-- Icono de menú hamburguesa visible en pantallas pequeñas -->
    <ion-buttons slot="end" class="mobile-menu-icon">
      <ion-icon name="menu-outline" (click)="openMenu()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <!-- Contenedor con la imagen, overlay oscuro y el contenido centrado -->
  <div class="image-container">
    <ion-img
      src="../../assets/img/pic-1.png"
      style="width: 100%;"
    ></ion-img>

    <!-- Capa oscura superpuesta -->
    <div class="image-overlay"></div>

    <!-- Contenido centrado en la imagen -->
    <div class="centered-content anim">
      <h2 class="centered-title">¡FABRICAMOS DE TODO!</h2>
      <h2 class="centered-description">
        Contamos con servicio a domicilio en toda el <strong><u>Área Metropolitana de Monterrey</u></strong>
      </h2>
      <ion-button>Contactar</ion-button>
    </div>

     <!-- Imagenes adicionales sobre la imagen principal -->
     <div class="additional-images">
      <!-- Imagen superior derecha -->
      <div class="sub-image sub-image-1 anim">
        <ion-img src="../../assets/img/sub-pic-1.png"></ion-img>
      </div>

      <!-- Imagen inferior derecha -->
      <div class="sub-image sub-image-2 anim">
        <ion-img src="../../assets/img/sub-pic-2.png"></ion-img>
      </div>
    </div>
  </div>

  <div class="products_container">
    <div class="products_title">
      <h2>¡CONOCE NUESTROS SERVICIOS!</h2>
    </div>

    <ion-grid class="our_services">
      <ion-row>
        <ion-col>
          <div class = "card">
            <img src="../../assets/img/services/svc22.png" alt="Canceles para baño">
            <div class="card-content">
              <h2>
                Canceles para baño
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Ver mas
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card">
            <img src="../../assets/img/services/svc21.png" alt="Repisas">
            <div class="card-content">
              <h2>
                Repisas
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Ver mas
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card">
            <img src="../../assets/img/services/svc13.png" alt="Cocinetas">
            <div class="card-content">
              <h2>
                Cocinetas
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Ver mas
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class = "card">
            <img src="../../assets/img/services/svc19.png" alt="Ventanas">
            <div class="card-content">
              <h2>
                Ventanas
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Ver mas
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card">
            <img src="../../assets/img/services/svc14.png" alt="Puertas">
            <div class="card-content">
              <h2>
                Puertas
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Ver mas
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card">
            <img src="../../assets/img/services/svc11.png" alt="Puertas">
            <div class="card-content">
              <h2>
                ¡Y mucho más!
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Ver mas
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="photo-gallery">
      <div class="column">
        @for (img of imgList1; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>

      <div class="column">
        @for (img of imgList2; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>

      <div class="column">
        @for (img of imgList3; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>

      <div class="column">
        @for (img of imgList4; track $index) {
          <div class="photo">
            <a
              [href]="'../../assets/img/services/' + img"
              data-lightbox="models" data-title="'caption' + $index"
            >
              <img [src]="'../../assets/img/services/' + img" alt="">
            </a>
          </div>
        }
      </div>
    </div>
  </div>

  <div style="background-color: #4185AA; padding: 2rem 0;">
    <div class="products_title">
      <h2>¿Cómo puedo cotizar mi pedido?</h2>
    </div>
  </div>

  <div style="background-color: rgb(0, 255, 34);">
    <div class="products_title">
      <h2>Nosotros te decimos como llegar</h2>
    </div>
  </div>

  <div style="background-color: rgb(251, 255, 0);">
    <div class="products_title">
      <h2>Preguntas frecuentes</h2>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <footer>
    <h2>Contacto</h2>
  </footer>

  <router-outlet></router-outlet>
</ion-content>

<!-- Menú lateral -->
<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="closeMenu()">Inicio</ion-item>
      <ion-item (click)="closeMenu()">Productos</ion-item>
      <ion-item (click)="closeMenu()">Contacto</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <!-- El contenido principal de la página -->
</ion-content>

<!-- Closets, Vitrinas  -->