* {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

.margin-bottom { 
  margin-bottom: 1rem;
}

.padding-top-05 {
  padding-top: 0.5rem;
}

.separator-line {
  min-height: 4px;
  width: 182px;
  border-radius: 10px;
  background-color: var(--ion-color-secondary);
  margin: 1.25rem 0rem;
}

.sub-title {
  font-size: clamp(1.4rem, 2.5vw, 2.5rem);
  color: var(--ion-color-primary);
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.5px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Color negro con 50% de opacidad */
  z-index: 1; /* Coloca la capa encima de la imagen */
}

.home-section {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 768px;
  }

.home-info-section {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.main-info {
  display: flex;
  // justify-content: end;
  align-items: center;
  // width: 50%;
}

.image-container ion-img {
  // display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // height: auto;
  z-index: 0; /* Imagen debajo del overlay */
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.5);
}

/* Contenido centrado en la imagen */
.centered-content {
  position: absolute;
  top: 40%;
  left: 12%;
  // transform: translate(-50%, -50%);
  color: white; /* Texto blanco para que sea visible sobre el fondo oscuro */
  z-index: 2; /* Capa por encima del overlay */
  animation-delay: 1.5s;
}

.centered-title {
  // font-size: clamp(1.5rem, 6vw, 4rem);
  font-size: clamp(2rem, 2.5vw, 4.5rem);
  color: white;
  font-weight: 700;
}

.centered-subtitle {
  font-size: clamp(1.4rem, 2.5vw, 2.5rem);
  color: white;
  font-weight: 700;
}

.main-info-container {
  width: 80%;
  margin-left: 5rem;
}

.centered-description {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  max-width: 70%;
  color: white;
  font-weight: 300;
}

.image-home-container {
  justify-content: start;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  padding-left: 7rem;
}

.image-home-container ion-img {
  width: 70%;
  height: 70%;
}

.image-home-container ion-img {
  animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// ion-text {
//   font-size: clamp(0.8rem, 3vw, 1rem);
// }

.text_1 {
  font-size: clamp(0.8rem, 3vw, 1rem);
}

ion-button {
  // --background: #144DFD; /* Fondo custom color */
  --color: #ffffff; /* Texto blanco */
  gap: 0.5rem;
  border-radius: 4px;
  text-transform: none;
  width: 197px;
  height: 40px;
}

/* Contenedor de las imágenes adicionales */
.additional-images {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translate(0, -50%);
  z-index: 3;
  min-width: 400px;
}

.products_container {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0f3ec9;
}

.products_title {
  text-align: center;
  margin-bottom: 2rem;
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.about_us_container{
  width: 100%;
  height: 374px;
  position: relative;
}

.image-overlay-about_us {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4185AACC;
  z-index: 1; /* Coloca la capa encima de la imagen */
}

.about_us_block {
  width: 1240px;
  max-width: 90%;
  height: 328px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 2;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-top: 2rem;
    text-align: center;
  }
}

.sub-sub_title {
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 32px;
  letter-spacing: -0.5;
}

.about_us_second_text_container {
  width: 100%;
  text-align: center;
}

.services-section {
  width: 100%;
  padding: 1rem;
}

.services-header {
  padding-top: 5rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  ion-grid {
    display: flex;
    justify-content: center;

    ion-row {
      width: 1240px;
      gap: 1rem;
    }
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px -2px #4185AA33;
    padding: 24px 0px 0px 0px;
    border-radius: 8px 0px 0px 0px;

    img {
      object-fit: cover;
    }
  }
}

.our_services {
  width: 75%;

  ion-col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-image {
    cursor: pointer;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .card-title-image {
    color: white;
    padding: 0.5rem 0;
  
    ion-text {
      font-size: 1.3rem;
    }
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
  }
}

.services_btn_show_more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

  ion-button {
    color: #000;
    width: 352px;
    height: 40px;
  }
}

.sucursales_section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4185AA1A;
}

.sucursales-header {
  padding-top: 5rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sucursales_container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.branch-address {
  font-weight: 500;
}

.cotizar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.card-cotizar_container {
  width: 70%;
  height: 12rem;
}

ul {
  text-align: center;
  list-style: none;
}

.section_map_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f3c4d;
  width: 100%;
  height: fit-content;
  padding-bottom: 2rem;
}

.map_title {
  padding: 2rem 0;
  margin: 0;
}

.map_container {
  width: 80%;
  height: 500px;
};

.frequent_questions_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_map {
  width: 80%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.map_direction {
  max-width: 35%;
}

// ion-accordion {
//   background: transparent;
// }

.ion-accordion-toggle-icon {
  color: #4185AA;
}

ion-item {
  // --background: black;
  --background: #4185AA1A;
  // --border-radius: 4px;
  // --detail-icon-color: white;
  --min-height: 3.5rem;
  // color: white;
  margin: 0.5rem;
  //  Poner ese cuando este activo // border-bottom: 1px solid #4185AA; 
  box-shadow: 0px 2px 10px 0px #0000001A;
  border-radius: 14px;
}

// .accordion-expanded {
//   border-bottom: 1px solid #4185AA;
// }

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  border-bottom: 1px solid #4185AA;
}

// ion-item:hover {
//   --color: white; /* Color del texto en hover */
// }

.contact_section {
  background-color: var(--ion-color-secondary);
}

ion-fab {
  margin: 1rem 2rem 1rem 1rem;
}

ion-fab-button {
  --background: #00d757;
  
  ion-icon {
    color: white;
  }
}

.footer_section {
  background-color: #101213;
  color: white;
  height: fit-content;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.footer_content {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 95%;
}

.categories_info_footer {
  width: 300px;
}

.title-footer {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sub-title-footer {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.separator-line-footer {
  height: 1px;
  width: 95%;
  // border-radius: 10px;
  margin: 1.25rem 0rem;
  border: 1px solid #404040
}

.brand_footer_section {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width:768px) {
  // ion-toolbar {
  //   padding-inline: 1rem;
  //   height: 100px;
  // }

  .photo-gallery {
    flex-direction: column;
  }

  .image-home-container {
    display: none;
  }

  .about_us_section {
    margin: 1rem 0;
  
    video {
      display: none;
    }
  }

  // /* Oculta los botones del menú en pantallas pequeñas */
  // .desktop-menu {
  //   display: none;
  // }

  // /* Muestra el icono de menú hamburguesa en pantallas pequeñas */
  // .mobile-menu-icon {
  //   display: block;
  // }

  .home-info-section {
    top: -85px;
  }

  .main-info {
    width: 90%;
  }

  .main-info-container {
    width: 100%;
    margin-left: 2rem;
  }

  .centered-description {
    max-width: 90%;
  }

  .about_us_block {
    margin-top: 0;
  }

  .separator-line {
    margin: 0.5rem 0rem;
  }
  
  .about_us_second_text_container {
    display: none;
  }

  .our_services {
    width: 100%;

    .card {
      width: 10rem;
      height: fit-content;
    }

    .card-image {
      height: 10rem;
      width: 10rem;
    }

    .card-title-image {
      height: 4.5rem;
      color: white;
      padding: 0.5rem 0;
    
      ion-text {
        font-size: 1rem;
      }
    }
  }

  .sucursales_container {
    width: 100%;
  }

  footer {
    padding: 1rem;
  }

  ion-fab {
    margin: 0; 
  }
}

@media (max-width: 1665px) {
  .sub-image {
    width: 300px;
    height: 300px;
  }

  .centered-content {
    margin-right: 1rem;
    left: 8%;
  }

  .additional-images {
    right: 8%;
  }
}

@media(min-width: 1300px) and (max-width: 1664px) {
  .additional-images {
    right: 12%;
    // top: 71%;
  }

  .sub-image {
    width: 200px;
    height: 200px;
  }

  .sub-image-2 {
    bottom: -25px;
    right: 90px;
  }
}

@media(max-width: 1299px) {
  .sub-image-1, .sub-image-2 {
    display: none;
  }
}
