<app-toolbar (logoClicked)="scrollToTop()"
  (scrollToSection)="scrollToSection($event)"
  (toggleMenu)="toggleMenu()"></app-toolbar>

<ion-content id="main-content">
  <div class="home-section" id="home-section">
    <ion-img
      id="slideshow"
      src="../../assets/img/banner.webp"
      style="width: 100%; object-fit: cover; height: 100%;"
    ></ion-img>

    <div class="image-overlay"></div>

    <div class="home-info-section">
      <div class="main-info">
        <div class="main-info-container">
          <h2 class="centered-title">Aluminio y vidrio</h2>
          <h2 class="centered-subtitle margin-bottom">Cuidando tus espacios</h2>
          <h2 class="centered-description margin-bottom">
            Contamos con servicio a domicilio en toda el Área Metropolitana de Monterrey.
          </h2>
          <ion-button color="primary" [href]="'https://wa.me/' + phone"  target="_blank">Ponte en contacto</ion-button>
        </div>
      </div>
    </div>
  </div>

  <div class="about_us_container" id="about_us">
    <ion-img
      id="slideshow"
      src="../../assets/img/about_us/img_about_us_section.webp"
      style="width: 100%; object-fit: cover; height: 100%;"
    ></ion-img>

    <div class="image-overlay-about_us"></div>

    <div class="about_us_block">
      <h2 class="sub-title">Sobre nosotros</h2>

      <div class="separator-line"></div>

      <div style="max-width: 1040px;">
        <div style="width: 100%; text-align: center;">
          <ion-text class="sub-sub_title">
            En Loga, somos una empresa dedicada a la fabricación e instalación de productos de aluminio y vidrio con más de 35 años de experiencia en el sector.
          </ion-text>
        </div>

        <div class="about_us_second_text_container">
          <ion-text class="sub-sub_title">
            Nos especializamos en ofrecer soluciones personalizadas de alta calidad para nuestros clientes, combinando innovación, precisión y durabilidad en cada proyecto.
          </ion-text>
        </div>
      </div>
    </div>
  </div>

  <div class="services-section" id="services-section">
    <div class="services-header">
      <h2 class="sub-title">Servicios</h2>

      <div class="separator-line"></div>

      <div style="max-width: 1240px;">
        <div style="width: 100%; text-align: center;">
          <ion-text class="sub-sub_title">
            En Loga, ofrecemos una amplia gama de soluciones en aluminio y vidrio diseñadas para satisfacer las necesidades de nuestros clientes, asegurando calidad, estilo y funcionalidad en cada proyecto.          </ion-text>
        </div>
      </div>
    </div>

    <div class="services-cards">
      <ion-grid>
        <ion-row class="services_row">
          <ion-col>
            <img
              src="../../assets/img/services/svc_viviendas.webp" 
              alt=""
              width="352px"
              height="277px"
              style="border-radius: 8px;"
              class="margin-bottom"
            >
            <div style="text-align: center; width: 352px;" class="margin-bottom">
              <ion-text style="font-weight: 700; font-size: 2rem;">
                Propietarios de viviendas
              </ion-text>
            </div>

            <div style="text-align: center; width: 352px; margin-bottom: 1.5rem;">
              <ion-text style="font-weight: 400; font-size: 0.8rem;">
                En Loga, ayudamos a los propietarios a transformar sus hogares con soluciones personalizadas en aluminio y vidrio. Desde ventanas y puertas que maximizan la luz natural hasta repisas y barandales.
              </ion-text>
            </div>
          </ion-col>
          <ion-col>
            <img
              src="../../assets/img/services/svc_empresas.webp" 
              alt=""
              width="352px"
              height="277px"
              style="border-radius: 8px;"
              class="margin-bottom"
            >
            <div style="text-align: center; width: 352px;" class="margin-bottom">
              <ion-text style="font-weight: 700; font-size: 2rem;">
                Empresas de remodelación
              </ion-text>
            </div>

            <div style="text-align: center; width: 352px; margin-bottom: 1.5rem;">
              <ion-text style="font-weight: 400; font-size: 0.8rem;">
                Colaboramos con empresas de remodelación para llevar sus proyectos al siguiente nivel. Proveemos materiales de alta calidad en aluminio y vidrio, adaptados a las especificaciones de cada obra.
              </ion-text>
            </div>
          </ion-col>
          <ion-col>
            <img
              src="../../assets/img/services/svc_negocios.webp" 
              alt=""
              width="352px"
              height="277px"
              style="border-radius: 8px;"
              class="margin-bottom"
            >
            <div style="text-align: center; width: 352px;" class="margin-bottom">
              <ion-text style="font-weight: 700; font-size: 2rem;">
                Propietarios de negocios
              </ion-text>
            </div>

            <div style="text-align: center; width: 352px; margin-bottom: 1.5rem;">
              <ion-text style="font-weight: 400; font-size: 0.8rem;">
                Sabemos que la imagen de tu negocio es clave para atraer clientes y transmitir profesionalismo. Ofrecemos fachadas de vidrio, vitrinas, mostradores y divisores en aluminio que combinan estética y funcionalidad.
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="services_btn_show_more">
      <ion-button fill="outline" (click)="navigateTo('gallery')">Ver Galería</ion-button>
    </div>
  </div>

  <div class="sucursales_section" id="sucursales-section">
    <div class="sucursales-header">
      <h2 class="sub-title">Encuentra tu sucursal</h2>

      <div class="separator-line"></div>

      <div class="sucursal_sub_title_content">
        <div style="width: 100%; text-align: center;">
          <ion-text class="sub-sub_title">
            En Loga, estamos comprometidos con acercarte las mejores soluciones en aluminio y vidrio. Visítanos en cualquiera de nuestras sucursales y descubre cómo podemos transformar tus espacios con calidad y estilo.</ion-text>
        </div>
      </div>
    </div>

    <ion-grid style="margin-bottom: 4rem;">
      <ion-row style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
        @for(branch of branches; track $index) {
          <ion-col class="sucursales_col" sizeXs="12" sizeMd="5" (click)="goToBranch(branch.url)">
            <img
              [src]="branch.image"
              alt=""
              style="width: 30%;
              height: 100%;
              gap: 10px;
              object-fit: cover;"
            >
            <img
              src="../../assets/img/sucursales/layers/layer_card_sucursal.png"
              alt=""
              class="img-sucursal-separator"
            >

            <div style="    width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 3rem;
        ">
        <div style="max-width: 282px; display: flex; justify-content: center; align-items: start; flex-direction: column;">
          <ion-text class="margin-bottom sucursales_title_card">
                {{branch.title}}
              </ion-text>

              <div><ion-text class="sucursales_direccion_card">
                {{branch.address}}
              </ion-text></div>
              </div>
            </div>
          </ion-col>
        
        }
      </ion-row>
    </ion-grid>
  </div>

  <div class="frequent_questions_section" id="freq_questions">
    <div class="sucursales-header">
      <h2 class="sub-title">Preguntas frecuentes</h2>

      <div class="separator-line"></div>

      <div style="max-width: 1240px; display: flex; margin-bottom: 1rem; justify-content: center;">
        <div style="width: 95%; text-align: center;">
          <ion-text class="sub-sub_title">
            En Loga, queremos que tengas toda la información necesaria para tomar la mejor decisión en tus proyectos. Aquí respondemos las preguntas más comunes sobre nuestros servicios, procesos y productos para que disfrutes de una experiencia sin preocupaciones.</ion-text>
        </div>
      </div>
    </div>

    <div style="width: 85%; margin-bottom: 4rem;">
      <div style="display: flex; flex-direction: column; padding-left: 0.2rem;">
        @for(question of frequent_questions; track $index) {
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>{{question.question}}</ion-label>
                <ion-icon
                class="ion-accordion-toggle-icon custom-icon"
                name="chevron-down-outline"
                slot="end">
              </ion-icon>
              </ion-item>
              <div style="padding: 1rem;" slot="content">
                @for(desc of question.descriptions; track $index) {
                  <div>
                    <ion-text style="font-size: 1rem;">
                      {{desc}}
                    </ion-text>
                  </div>
                }
              </div>
            </ion-accordion>
          </ion-accordion-group>
        }
      </div>
    </div>
  </div>

  <div class="contact_section" id="contact_section">
    <div class="sucursales-header">
      <h2 class="sub-title" style="color: white;">Contacto</h2>

      <div class="separator-line" style="background-color: white;"></div>

      <div style="max-width: 1240px; display: flex; margin-bottom: 1rem; justify-content: center;">
        <div style="width: 95%; text-align: center;">
          <ion-text class="sub-sub_title" style="color: white;">
            En Loga, estamos aquí para ayudarte. Si tienes dudas, quieres solicitar una cotización o necesitas más información sobre nuestros productos y servicios, no dudes en ponerte en contacto con nosotros. Estamos listos para atenderte y acompañarte en cada paso de tu proyecto.</ion-text>
        </div>
      </div>
    </div>

    <ion-grid style="padding-bottom: 4rem;">
      <ion-row style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
        @for(card of contact_cards; track $index) {
          <a [href]="card.url" target="_blank" style="width: 400px;
            height: 188px; text-decoration: none; display: flex; justify-content: center;">
            <ion-col style="
              max-width: 85%;
              width: 400px;
              height: 188px;
              padding: 24px;
              gap: 20px;
              border-radius: 16px;
              background: #D5F0FF;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            "
            >
              <img
                [src]="card.image"
                alt=""
                style="height: 50px; width: 50px;"
              >
              <div style="    width: 100%;
              justify-content: center;
              display: flex;
              align-items: center;
              flex-direction: column;">
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                  <ion-text
                    class="margin-bottom"
                    style="font-family: Rubik;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 28px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #1F2328;
                  ">
                    {{card.title}}
                  </ion-text>
                  <div style="text-align: center;"><ion-text style="font-family: Rubik;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 33.6px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #1F2328;
                    ">
                    {{card.desc}}
                    </ion-text>
                  </div>
                </div>
              </div>
            </ion-col>
          </a>
        }
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [href]="'https://wa.me/' + phone"  target="_blank">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <footer class="footer_section">
    <div class="footer_content">
      <div>
        <ion-text style="font-family: Rubik;
      font-size: clamp(1.5rem, 5vw, 2rem);
      font-weight: 500;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      padding-right: 1.5rem;

      ">
        LOGA
      </ion-text>
      </div>

      <div class="categories_info_footer">
        <div class="title-footer padding-top-05">
          <ion-text>Categorías</ion-text>
        </div>

        <div class="sub-titles-footer">
          <div class="sub-title-footer padding-top-05" (click)="navigateTo('gallery')">
            <ion-text>
              Ver Galería
            </ion-text>
          </div>
          <div class="sub-title-footer padding-top-05" (click)="goToBranch('https://www.facebook.com/aluminios.loga')">
            <ion-text>
              Facebook
            </ion-text>
          </div>
          <div class="sub-title-footer padding-top-05" (click)="goToBranch('https://wa.me/528126602391')">
            <ion-text>
              Whatsapp
            </ion-text>
          </div>
        </div>
      </div>

      <div class="categories_info_footer">
        <div class="title-footer padding-top-05">
          <ion-text>Sucursales</ion-text>
        </div>

        <div class="sub-titles-footer">
          <div class="sub-title-footer padding-top-05" (click)="goToBranch('https://maps.app.goo.gl/LFdzK1Rokn28iJiq8')">
            <ion-text>
              Santa Catarina
            </ion-text>
          </div>
          <div class="sub-title-footer padding-top-05" (click)="goToBranch('https://maps.app.goo.gl/sB3KsBWRoVQoguZg7')">
            <ion-text>
              Sierra Real
            </ion-text>
          </div>
          <div class="sub-title-footer padding-top-05" (click)="goToBranch('https://maps.app.goo.gl/LFdzK1Rokn28iJiq8')">
            <ion-text>
              Santa Catarina
            </ion-text>
          </div>
        </div>
      </div>
    </div>

    <div class="separator-line-footer"></div>

    <div class="brand_footer_section">
      <div><a style="cursor: pointer;" href="https://www.facebook.com/aluminios.loga" target="_blank"><img src="../../assets/img/footer/Facebook.png" alt="" width="24" height="24"></a></div>
      <div style="font-family: Rubik;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.02px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      ">© {{ getCurrentYear() }} Aluminios Loga</div>
      <div></div>
    </div>

  </footer>
</ion-content>

<!-- Menú personalizado -->
<div class="custom-menu" *ngIf="isMenuOpen">
  <div class="menu-overlay" (click)="toggleMenu()"></div>
  <div class="menu-content">
    <ion-buttons slot="end" style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column">
      <ion-button class="tab" (click)="scrollToSection('about_us', true)">SOBRE NOSOTROS</ion-button>
      <div class="separator-line" style="background-color: white; height: 1px; width: 80%; margin: 10px 0;"></div>

      <ion-button class="tab" (click)="scrollToSection('services-section', true)">SERVICIOS</ion-button>
      <div class="separator-line" style="background-color: white; height: 1px; width: 80%; margin: 10px 0;"></div>

      <ion-button class="tab" (click)="navigateTo('gallery', true)">GALERIA</ion-button>
      <div class="separator-line" style="background-color: white; height: 1px; width: 80%; margin: 10px 0;"></div>

      <ion-button class="tab" (click)="scrollToSection('sucursales-section', true)">SUCURSALES</ion-button>
      <div class="separator-line" style="background-color: white; height: 1px; width: 80%; margin: 10px 0;"></div>

      <ion-button class="tab" (click)="scrollToSection('freq_questions', true)">PREGUNTAS FRECUENTES</ion-button>
      <div class="separator-line" style="background-color: white; height: 1px; width: 80%; margin: 10px 0;"></div>

      <ion-button class="tab" (click)="scrollToSection('contact_section', true)">CONTACTO</ion-button>
    </ion-buttons>
  </div>
</div>
