<app-toolbar (logoClicked)="scrollToTop()"
  (scrollToSection)="scrollToSection($event)"></app-toolbar>

<ion-content id="main-content">
  <div class="home-section" id="home-section">
    <ion-img
      id="slideshow"
      src="../../assets/img/banner.png"
      style="width: 100%; object-fit: cover; height: 100%;"
    ></ion-img>

    <div class="image-overlay"></div>

    <div class="home-info-section">
      <div class="main-info">
        <div class="main-info-container">
          <h2 class="centered-title">Aluminio y vidrio</h2>
          <h2 class="centered-subtitle margin-bottom">Cuidando tus espacios</h2>
          <h2 class="centered-description margin-bottom">
            Contamos con servicio a domicilio en toda el Área Metropolitana de Monterrey.
          </h2>
          <ion-button color="primary">Ponte en contacto</ion-button>
        </div>
      </div>
      <!-- <div class="image-home-container">
        <ion-img [src]="currentImage"></ion-img>
      </div> -->
    </div>
  </div>

  <div class="about_us_container" id="about_us">
    <ion-img
      id="slideshow"
      src="../../assets/img/about_us/img_about_us_section.png"
      style="width: 100%; object-fit: cover; height: 100%;"
    ></ion-img>

    <div class="image-overlay-about_us"></div>

    <div class="about_us_block">
      <h2 class="sub-title">Sobre nosotros</h2>

      <div class="separator-line"></div>

      <div style="max-width: 1040px;">
        <div style="width: 100%; text-align: center;">
          <ion-text style="font-weight: 400; font-size: 1.25rem; line-height: 32px; letter-spacing: -0.5;">
            En Loga, somos una empresa dedicada a la fabricación e instalación de productos de aluminio y vidrio con más de 35 años de experiencia en el sector.
          </ion-text>
        </div>

        <div style="width: 100%; text-align: center;">
          <ion-text style="font-weight: 400; font-size: 1.25rem; line-height: 32px; letter-spacing: -0.5;">
            Nos especializamos en ofrecer soluciones personalizadas de alta calidad para nuestros clientes, combinando innovación, precisión y durabilidad en cada proyecto.
          </ion-text>
        </div>
      </div>
    </div>
  </div>

  <div class="services-section">
    <div class="services-header">
      <h2 class="sub-title">Servicios</h2>

      <div class="separator-line"></div>

      <div style="max-width: 1240px;">
        <div style="width: 100%; text-align: center;">
          <ion-text style="font-weight: 400; font-size: 1.25rem; line-height: 32px; letter-spacing: -0.5;">
            En Loga, ofrecemos una amplia gama de soluciones en aluminio y vidrio diseñadas para satisfacer las necesidades de nuestros clientes, asegurando calidad, estilo y funcionalidad en cada proyecto.          </ion-text>
        </div>
      </div>
    </div>

    <div class="services-cards">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img
              src="../../assets/img/services/svc_viviendas.png" 
              alt=""
              width="352px"
              height="277px"
              style="border-radius: 8px;"
            >
          </ion-col>
          <ion-col>
            <img
              src="../../assets/img/services/svc_empresas.png" 
              alt=""
              width="352px"
              height="277px"
              style="border-radius: 8px;"
            >
          </ion-col>
          <ion-col>
            <img
              src="../../assets/img/services/svc_negocios.png" 
              alt=""
              width="352px"
              height="277px"
              style="border-radius: 8px;"
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- <div class="products_container" id="services-section">
    <div class="products_title">
      <h2 style="font-size: 3rem; font-weight: 500; color: white;">Servicios</h2>
    </div>

    <ion-grid class="our_services margin-bottom">
      <ion-row>
        <ion-col>
          <div class = "card" (click)="navigateTo('gallery')">
            <div class="card-image">
              <img src="../../assets/img/services/svc22.png">
            </div>
            <div class="card-title-image">
              <ion-text>Canceles para baño</ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card" (click)="navigateTo('gallery')">
            <div class="card-image">
              <img src="../../assets/img/services/svc21.png">
            </div>
            <div class="card-title-image">
              <ion-text>Repisas</ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card" (click)="navigateTo('gallery')">
            <div class="card-image">
              <img src="../../assets/img/services/svc13.png">
            </div>
            <div class="card-title-image">
              <ion-text>Cocinetas</ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card" (click)="navigateTo('gallery')">
            <div class="card-image">
              <img src="../../assets/img/services/svc19.png">
            </div>
            <div class="card-title-image">
              <ion-text>Ventanas</ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div class = "card" (click)="navigateTo('gallery')">
            <div class="card-image">
              <img src="../../assets/img/services/svc14.png">
            </div>
            <div class="card-title-image">
              <ion-text>Puertas</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <div class="sucursales_section" id="sucursales-section">
    <div class="products_title">
      <h2 style="font-size: 3rem; font-weight: 500; margin-top: 1rem;">Encuentra tu Sucursal</h2>
    </div>

    <div class="sucursales_container">
      <ion-grid style="width: 100%;">
        @for(branch of branches; track $index) {
          <ion-row style="width: 100%;" class="margin-bottom">
            <ion-col style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="width: 30%;">
                <ion-img [src]="branch.image" (click)="openMap(branch.url)"  style="cursor: pointer; width: 100%; object-fit: cover;"></ion-img>
              </div>
              <div class="branch-info" style="width: 70%; padding-left: 2rem;">
                <div class="address">
                  <ion-text class="branch-address">{{ branch.address }}</ion-text>
                </div>
                <div class="btn goAddress">
                  <a (click)="openMap(branch.url)" style="cursor: pointer;">
                    Ver en Google Maps 
                    <ion-icon name="open-outline"></ion-icon>
                  </a>
                </div>
              </div>
            </ion-col>
          </ion-row>
        }
      </ion-grid>
    </div>
  </div>

  <!-- <div class="section_map_container">
    <div class="products_title map_title">
      <h2 style="margin: 0; color: white;">Nosotros te decimos como llegar</h2>
    </div>
    <div class="map_container">
      <app-map></app-map>
    </div>
    <div class="footer_map">
      <div class="map_direction">
        <ion-text class="text_1" style="color: white;">
          Manuel Ordoñez 1414, Hacienda de Santa Catarina, 66357 Santa Catarina, N. L.
        </ion-text>
      </div>
      
      <div class="map_phone_container">
        <div class="phone">
          <ion-text class="text_1" style="color: white;">81-11-87-55-44</ion-text>
        </div>
      </div>
    </div>
  </div>

  <img src="" alt=""> -->

  <!-- <div id="frequent-questions-section" style="padding: 1rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="products_title">
      <h2 style="font-size: 3rem; font-weight: 500; margin-top: 1rem;">Preguntas frecuentes</h2>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; width: 70%;">
      @for(question of frequent_questions; track $index) {
        <ion-accordion-group style="min-width: 80%;">
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>{{question.question}}</ion-label>
            </ion-item>
            <div style="padding: 1rem;" slot="content">
              @for(desc of question.descriptions; track $index) {
                <div>
                  <ion-text style="font-size: 1rem;">
                    {{desc}}
                  </ion-text>
                </div>
              }
            </div>
          </ion-accordion>
          <hr style="border-top: 1px solid #931F36; margin: 0.5rem 0;">
        </ion-accordion-group>
      }
    </div>
  </div> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="https://wa.me/528111875544" target="_blank">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <footer id="footer-section">
    <div class="footer_content">
      <div class="main_footer_content">
        <div class="contact_content">
          <div class="card_contact">
            <div class="margin-bottom">
              <ion-text style="font-size: 1.3rem; font-weight: 600; color: #C9BE2C;">
                Contacto
              </ion-text>
            </div>

            <div style="display: flex; align-items: center;" class="footer_contact_option margin-bottom">
              <a class="footer_option_redirect" (click)="scrollToSection('home-section')">
                Inicio
              </a>
            </div>

            <!-- <div style="display: flex; align-items: center;" class="margin-bottom">
              <ion-text (click)="scrollToSection('about_us')" style="cursor: pointer;">
                Sobre nosotros
              </ion-text>
            </div> -->

            <div style="display: flex; align-items: center;" class="footer_contact_option margin-bottom">
              <a class="footer_option_redirect" (click)="scrollToSection('services-section')">
                Servicios
              </a>
            </div>
            <!-- 
            <div style="display: flex; align-items: center;" class="margin-bottom">
              <ion-text (click)="scrollToSection('sucursales-section')" style="cursor: pointer;">
                Sucursales
              </ion-text>
            </div>

            <div style="display: flex; align-items: center;" class="margin-bottom">
              <ion-text (click)="scrollToSection('frequent-questions-section')" style="cursor: pointer;">
                Preguntas frecuentes
              </ion-text>
            </div> -->

            <div style="display: flex; align-items: center;" class="footer_contact_option">
              <!-- <ion-icon name="call" style="padding-right: 0.3rem; color: #C9BE2C;"></ion-icon> -->
              <a class="footer_option_redirect" href="https://wa.me/528111875544">
                Contacto
              </a>
            </div>
          </div>

          <div class="card_contact" style="width: 60%;">
            <div class="margin-bottom">
              <ion-text style="font-size: 1.3rem; font-weight: 600; color: #C9BE2C;">
                Preguntas frequentes
              </ion-text>
            </div>

            <div style="display: flex; flex-direction: column; padding-left: 0.2rem;">
              @for(question of frequent_questions; track $index) {
                <ion-accordion-group>
                  <ion-accordion value="first">
                    <ion-item slot="header">
                      <ion-label>{{question.question}}</ion-label>
                      <ion-icon
                      class="ion-accordion-toggle-icon custom-icon"
                      name="chevron-down-outline"
                      slot="end">
                    </ion-icon>
                    </ion-item>
                    <div style="padding: 1rem;" slot="content">
                      @for(desc of question.descriptions; track $index) {
                        <div>
                          <ion-text style="font-size: 1rem;">
                            {{desc}}
                          </ion-text>
                        </div>
                      }
                    </div>
                  </ion-accordion>
                  <!-- <hr style="border-top: 1px solid #931F36; margin: 0.5rem 0;"> -->
                </ion-accordion-group>
              }
            </div>
          </div>
        </div>
        <!-- <div class="our_mission_content">
          <div>
            <ion-text>
              Nuestra mision
            </ion-text>
          </div>
        </div> -->
      </div>
      <!-- <div class="secondary_footer_content">
        <div class="copyright_content">
          <div>
            <ion-text>
              Copyright
            </ion-text>
          </div>
        </div>
        <div class="social_media_content">
          <div>
            <ion-text>
              Redes
            </ion-text>
          </div>
        </div>
      </div> -->
    </div>
  </footer>
</ion-content>

<!-- Menú lateral -->
<!-- <ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="closeMenu()">Inicio</ion-item>
      <ion-item (click)="closeMenu()">Productos</ion-item>
      <ion-item (click)="closeMenu()">Contacto</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="closeMenu()">Inicio</ion-item>
      <ion-item (click)="closeMenu()">Productos</ion-item>
      <ion-item (click)="closeMenu()">Contacto</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
